@model Model.Negociacao

@{
    Layout = "_Layout";
}

<h4>Iniciar Negociacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--    <div class="form-group">
                    <label asp-for="CodNegociacao" class="control-label"></label>
                    <input asp-for="CodNegociacao" class="form-control" />
                    <span asp-validation-for="CodNegociacao" class="text-danger"></span>
                </div> -->
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input  asp-for="Data" class="form-control" id="DATE" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorProposto" class="control-label"></label>
                <input asp-for="ValorProposto" class="form-control" />
                <span asp-validation-for="ValorProposto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuario" class="control-label"></label>
                <input asp-for="CodUsuario" class="form-control" />
                <span asp-validation-for="CodUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeUsuario" class="control-label"></label>
                <input asp-for="nomeUsuario" class="form-control" />
                <span asp-validation-for="nomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    /*  // Obtém a data/hora atual
  var data = new Date();

  // Guarda cada pedaço em uma variável
  var dia     = data.getDate();           // 1-31
  var dia_sem = data.getDay();            // 0-6 (zero=domingo)
  var mes     = data.getMonth();          // 0-11 (zero=janeiro)
  var ano2    = data.getYear();           // 2 dígitos
  var ano4    = data.getFullYear();       // 4 dígitos
  var hora    = data.getHours();          // 0-23
  var min     = data.getMinutes();        // 0-59
  var seg     = data.getSeconds();        // 0-59
  var mseg    = data.getMilliseconds();   // 0-999
  var tz      = data.getTimezoneOffset(); // em minutos

  // Formata a data e a hora (note o mês + 1)
  var str_data = dia + '/' + (mes+1) + '/' + ano4;
  var str_hora = hora + ':' + min + ':' + seg;

  // Mostra o resultado
  //alert('Hoje é ' + str_data + ' às ' + str_hora);
      var data = new Date();
  var dias = new Array(
   'domingo','segunda','terça','quarta','quinta','sexta','sábado'
  );

      alert('Hoje é ' + dias[data.getDay()]);

      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = '0' + dd;
      }
      if (mm < 10) {
        mm = '0' + mm;
      }
      var today = dd + '/' + mm + '/' + yyyy;
      document.getElementById('DATE').value = today;*/
    //document.getElementById("date").value = new Date().toJSON().slice(0, 10)

    var d1 = new Date();
    d1.toString('dd-MM-yyyy');
    document.getElementById("#DATE").value = d1;
   // d1.toString('dddd, MMMM ,yyyy')
  //  document.getElementById('DATE').value = (new Date()).getTime();
</script>
