
@{
    Layout = "_Layout";
}

<div class="row">

<div class="col-md-9 footer-box">

    <div class="row">

        <div class="col-md-10">
            <h5><strong>Suporte > Compras > Resolver problema com uma compra</strong></h5>

            <hr>
            <form method="post" enctype="text/plain">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col=md-12 col-sm-12">
                                    <div class="form-group">
                                        <p>Envie um e-mail para nós esclarecendo seu problema</p>
                                        <select class="w3-select" name="option">
                                            <option value="" disabled selected>Primeiro selecione uma categoria para seu problema:</option>
                                            <option value="1">Produto diferente do anunciado</option>
                                            <option value="2">Produto danificado</option>
                                            <option value="3">Vendedor não quer fazer a troca do produto</option>
                                            <option value="4">Arrependimento de compra</option>
                                            <option value="5">Minha encomenda ainda não chegou</option>
                                            <option value="6">Minha encomenda foi extornada</option>
                                            <option value="7">Minha encomenda chegou danificada</option>
                                            <option value="8">Meu produto não me serviu</option>
                                        </select>
                                        <h5>Digite seu e-mail:</h5>
                                        <input type="email" class="form-control" required="required" placeholder="email">
                                        <h5>Entre com o código de rastreio de sua compra:</h5>
                                        <input type="text" class="form-control" required="required" placeholder="Código de rastreio">
                                        <h5>Descreva seu problema:</h5>
                                        <textarea name="message" id="message" required="required" class="form-control" rows="7" placeholder="Descrição"></textarea><br>
                                        <button type="submit" class="btn btn-primary" color="pink"><a href="#mailto:someone@example.com">Enviar</a></button>
                                    </div>
                                </div>
                            </div>
                            <p>Ou ligue para nosso SAC: <br><strong>ATENDIMENTO:</strong> <a href="#">+55-79-9567-5890 </a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

        </div>