
@{
    Layout = "_Layout";
}

<div class="row">

<div class="col-md-9 footer-box">

    <div class="row">

        <div class="col-md-10">
            <h5><strong>Suporte > Compras > Direito de Arrependimento</strong></h5>

            <hr>
            <form method="post" enctype="text/plain">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col=md-12 col-sm-12">
                                    <div class="form-group">
                                        <p align="left">
                                            Você tem até 7 dias, contados do recebimento do produto, para exercer o direito de arrependimento de compra.<br>
                                            Para isso, acesse Login > Compras > Compras. Após localizar a negociação, clique em "Cancelar Compra" e siga os passos seguintes.<br>
                                            Você terá o seu dinheiro de volta e terá que devolver o produto ao vendedor.
                                        </p>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

        </div>