
@{
    Layout = "_Layout";
}

<div class="row">

<div class="col-md-9 footer-box">

    <div class="row">

        <div class="col-md-10">
            <h5><strong>Suporte > Compras</strong></h5>

            <hr>
            <form method="post" enctype="text/plain">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <p><a href="#">Resolver problema com uma compra&laquo;</a></p>
                            <p><a href="#">Direito de Arrenpendimento&laquo;</a></p>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

        </div>