
@{
    Layout = "_Layout";
}

<div class="row">

<div class="col-md-9 footer-box">

    <div class="row">

        <div class="col-md-10">
            <h5><strong>1 Login/ Seu Carrinho de Compras</strong> 2/ Envio 3/Pagamento</h5>

            <hr>
            <form method="post" enctype="text/plain">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <table>
                                <tr>
                                    <th>Produto</th>
                                    <th>Descrição</th>
                                    <th>Quantidade</th>
                                    <th>Preço</th>
                                    <th>Vendedor</th>
                                </tr>
                                <tr>
                                    <td>Deadpoll Neca Toys 1/4</td>
                                    <td>Novo</td>
                                    <td>1</td>
                                    <td>745,90</td>
                                    <td>BDOLLS</td>
                                </tr>

                            </table> <br>

                            <input type="submit" name="continuar" value="Continuar comprando" formaction="mailto:#">
                            <input type="submit" name="processar" value="Processar compra" formaction="mailto:#">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

        </div>
