
@{
    Layout = "_Layout";
}

<div class="row">

<div class="col-md-9 footer-box">

    <div class="row">

        <div class="col-md-10">
            <h5><strong>1 Login/ Seu Carrinho de Compras 2/ Envio 3</strong>/Pagamento</h5>

            <hr>
            <form method="post" enctype="text/plain">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <h5>SELECIONE O MÉTODO DE ENVIO</h5>
                            <hr>
                            <form action="#">
                                <input type="radio" name="envio" value="pac" required="required"> Correios PAC<br>
                                <input type="radio" name="envio" value="sedex" required="required"> Correios SEDEX<br>
                                <input type="radio" name="envio" value="outro" required="required"> Retirar pessoalmente<br>
                                <hr>
                                <h5>TOTAL</h5>
                                <hr>
                                <p>
                                    Produto = R$ 0,00 <br>
                                    Envio = R$ 0,00 <br>
                                    Total = R$ 0,00  <br>
                                </p>

                                <input type="submit" value="Continuar">
                            </form>

                            <br>

                        </div>

                    </div>

                </div>
            </form>
            <input type="submit" value="Voltar para compras">
        </div>
    </div>

</div>

        </div>