@model Model.Modelo

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h2>Edit</h2>

<h4>Modelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantTiragem" class="control-label"></label>
                <input asp-for="QuantTiragem" class="form-control" />
                <span asp-validation-for="QuantTiragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colecao" class="control-label"></label>
                <input asp-for="Colecao" class="form-control" />
                <span asp-validation-for="Colecao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodSubcategoria" class="control-label"></label>
                <input asp-for="CodSubcategoria" class="form-control" />
                <span asp-validation-for="CodSubcategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuario" class="control-label"></label>
                <input asp-for="CodUsuario" class="form-control" />
                <span asp-validation-for="CodUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="nomeSubCategoria" class="control-label"></label>
                <input asp-for="nomeSubCategoria" class="form-control" />
                <span asp-validation-for="nomeSubCategoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="nomeUsuario" class="control-label"></label>
                <input asp-for="nomeUsuario" class="form-control" />
                <span asp-validation-for="nomeUsuario" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
