@model Model.Usuario

@{
    Layout = "_Layout";
}

<div class="row">
<div class="col-md-9">

    <div class="main box-border">
        <div id="mi-slider" class="mi-slider">
            <ul>

                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/livro.jpg" alt="img01"><h4>Livros</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/mangas.jpg" alt="img02"><h4>Mangás</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/hqs.jpg" alt="img03"><h4>HQs</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/box.jpg" alt="img04"><h4>Boxes</h4>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/figureaction.jpg" alt="img05"><h4>Figure Action</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/barbie.jpg" alt="img06"><h4>Barbie &amp; cia</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/blythe.jpg" alt="img07"><h4>Blythe</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/bjd.jpg" alt="img08"><h4>BJD</h4>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/filme.jpg" alt="img09"><h4>Filmes</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/anime.jpg" alt="img10"><h4>Anime</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/serie.png" alt="img11"><h4>Séries</h4>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/cd.jpg" alt="img12"><h4>CDs</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/miniatura.jpg" alt="img13"><h4>Miniaturas</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/fantasia.jpg" alt="img14"><h4>Fantasias</h4>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/assets/ItemSlider/images/acessorio.png" alt="img15"><h4>Acessórios</h4>
                    </a>
                </li>
            </ul>
            <nav>
                <a href="#">Livros</a>
                <a href="#">Brinquedos</a>
                <a href="#">DVDS</a>
                <a href="#">Mais</a>
            </nav>
        </div>

    </div>
    <br />
</div>
<!-- /.col -->

<div class="col-md-3 text-center">
    <div class=" col-md-12 col-sm-6 col-xs-6">
        <div class="offer-text">
            30% off aqui
        </div>
        <div class="thumbnail product-box">
            <img src="assets/img/Hot-Toys-Jack-Sparrow.jpg" alt="figure action" width="200" height="300" />
            <div class="caption">
                <h3><a href="#">Hot Toys Jack Sparrow Piratas do Caribe</a></h3>
                <p><a href="#">À pronta entrega </a></p>
            </div>
        </div>
    </div>

</div>
<!-- /.col -->
        </div>
<!-- /.row -->
<div class="row">
    <div class="col-md-3">
        <div>
            <a href="#" class="list-group-item active">
                Brinquedos
            </a>
            <ul class="list-group">

                <li class="list-group-item">
                    Figuras de Ação
                    <span class="label label-primary pull-right">234</span>
                </li>
                <li class="list-group-item">
                    Barbie e cia
                    <span class="label label-success pull-right">34</span>
                </li>
                <li class="list-group-item">
                    Hot Toys
                    <span class="label label-danger pull-right">4</span>
                </li>
                <li class="list-group-item">
                    Outras marcas
                    <span class="label label-info pull-right">434</span>
                </li>
                <li class="list-group-item">
                    BJD & Blythe
                    <span class="label label-success pull-right">34</span>
                </li>
            </ul>
        </div>
        <!-- /.div -->
        <div>
            <a href="#" class="list-group-item active list-group-item-success">
                DVDS & Jogos
            </a>
            <ul class="list-group">

                <li class="list-group-item">
                    Filmes
                    <span class="label label-danger pull-right">300</span>
                </li>
                <li class="list-group-item">
                    Animes
                    <span class="label label-success pull-right">340</span>
                </li>
                <li class="list-group-item">
                    Séries
                    <span class="label label-info pull-right">735</span>
                </li>

            </ul>
        </div>
        <!-- /.div -->
        <div>
            <a href="#" class="list-group-item active">
                Acessórios & outros
            </a>
            <ul class="list-group">
                <li class="list-group-item">
                    CDs
                    <span class="label label-warning pull-right">456</span>
                </li>
                <li class="list-group-item">
                    Fantasias
                    <span class="label label-success pull-right">156</span>
                </li>
                <li class="list-group-item">
                    Miniaturas
                    <span class="label label-info pull-right">400</span>
                </li>
                <li class="list-group-item">
                    Outros
                    <span class="label label-primary pull-right">89</span>
                </li>
            </ul>
        </div>
        <div>
            <a href="#" class="list-group-item active">
                Livros &amp; mangás
            </a>
            <ul class="list-group">
                <li class="list-group-item">
                    Romance
                    <span class="label label-warning pull-right">456</span>
                </li>
                <li class="list-group-item">
                    Biografia
                    <span class="label label-success pull-right">156</span>
                </li>
                <li class="list-group-item">
                    Ficção
                    <span class="label label-info pull-right">400</span>
                </li>
                <li class="list-group-item">
                    Terror
                    <span class="label label-info pull-right">400</span>
                </li>
                <li class="list-group-item">
                    Nacional
                    <span class="label label-info pull-right">400</span>
                </li>
                <li class="list-group-item">
                    Literatura estrangeira
                    <span class="label label-info pull-right">400</span>
                </li>
                <li class="list-group-item">
                    HQs
                    <span class="label label-info pull-right">400</span>
                </li>
                <li class="list-group-item">
                    Mangá
                    <span class="label label-info pull-right">400</span>
                </li>
                <li class="list-group-item">
                    Outros
                    <span class="label label-primary pull-right">89</span>
                </li>
            </ul>
        </div>


    </div>

    <div class="col-md-9">

        <div class="row">

            <div class="col-md-4">
                <h1><strong>CADASTRO</strong></h1>

                <hr>
                <form>
                    <div class="row">

                        <div class="col-md-12 col-sm-12">

                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Nome">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Sobrenome">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Endereço">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="CPF">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <h5>Sexo:</h5>
                                <input class="w3-radio" type="radio" name="sexo" value="masculino" checked>
                                <label>Masculino</label>

                                <input class="w3-radio" type="radio" name="sexo" value="feminino">
                                <label>Feminino</label>

                                <input class="w3-radio" type="radio" name="sexo" value="">
                                <label>Indefinido</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col=md-12 col-sm-12">
                            <div class="form-group">
                                <form class="w3-container w3-card-4" action="/action_page.php">

                                    <select class="w3-select" name="option">
                                        <option value="" disabled selected>Selecione seu estado</option>
                                        <option value="1">Sergipe</option>
                                        <option value="2">São Paulo</option>
                                        <option value="3">Rio de Janeiro</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input name="password" id="password" required="required" class="form-control" rows="1" placeholder="Senha">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Brinquedos</a></li>
                <li class="active">Barbie e Cia</li>
            </ol>
        </div>
        <!-- /.div -->
        <div class="row">
            <div class="btn-group alg-right-pad">
                <button type="button" class="btn btn-default"><strong>3005  </strong>itens</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Produtos Sortidos &nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Por Menor Preço</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Por Maior Preço</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Por Popularidade</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Por Reviews</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="assets/img/Barbie-Silkstone1.jpg" alt="" />
                    <div class="caption">
                        <h3><a href="#">Barbie Silkstone Trench Coat </a></h3>
                        <p>Preço : <strong>R$ 600,00</strong>  </p>
                        <p>
                            <a href="#" class="btn btn-success" role="button">Comprar</a>
                            <a href="#" class="btn btn-primary" role="button">Ver Detalhes</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="assets/img/Barbie-Silkstone2.jpg" alt="" />
                    <div class="caption">
                        <h3><a href="#">Barbie Silkstone Grace Kelly The Bride</a></h3>
                        <p>Preço : <strong>R$ 2000,00</strong>  </p>
                        <p><a href="#" class="btn btn-success" role="button">Comprar</a> <a href="#" class="btn btn-primary" role="button">Ver Detalhes</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="assets/img/Barbie-Silkstone3.jpg" alt="" />
                    <div class="caption">
                        <h3><a href="#">Barbie Silkstone Fashion Model</a></h3>
                        <p>Preço : <strong>R$ 500,00</strong>  </p>
                        <p><a href="#" class="btn btn-success" role="button">Comprar</a> <a href="#" class="btn btn-primary" role="button">Ver Detalhes</a></p>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <ul class="pagination alg-right-pad">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
    </div>