@model Model.Anuncio

@{
    Layout = "_Layout";
}

<h4>Cadastrar novo anúncio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" placeholder="Título" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" placeholder="Valor" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Carregar imagem</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="">Selecione um status</option>
                    <option value="ativo">ATIVO</option>
                    <option value="inativo">INATIVO</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantAnunciada" class="control-label"></label>
                <input asp-for="QuantAnunciada" class="form-control" placeholder="Quantidade anunciada" />
                <span asp-validation-for="QuantAnunciada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantDisponivel" class="control-label"></label>
                <input asp-for="QuantDisponivel" class="form-control" placeholder="Quantidade disponível" />
                <span asp-validation-for="QuantDisponivel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CodUsuario" class="control-label"></label>
                <input asp-for="CodUsuario" class="form-control" />
                <span asp-validation-for="CodUsuario" class="text-danger"></span>
            </div>

            <!--       <div class="form-group">
               <label asp-for="OpcaoEnvio" class="control-label"></label>
               <br />
               <input asp-for="OpcaoEnvio" class="w3-radio" type="checkbox" name="envio" value="PAC" checked>
               <label>PAC</label>

               <input asp-for="OpcaoEnvio" class="w3-radio" type="checkbox" name="envio" value="SEDEX">
               <label>SEDEX</label>

               <input asp-for="OpcaoEnvio" class="w3-radio" type="checkbox" name="envio" value="PESSOALMENTE">
               <label>Retirar pessoalmente</label>
               <span asp-validation-for="OpcaoEnvio" class="text-danger"></span>
           </div> -->
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" rows="8" class="form-control" placeholder="Descrição do produto"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a listagem de anúncios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function valida()
        {
          if (document.form1.sel.options[sel.selectedIndex].value=="")
          {
               alert("Escolha uma opção");
               document.form1.sel.focus();
               return false;
          }
        return true;
        }

    </script>
}
