
@{
    Layout = "_Layout";
}

<div class="row">
<div class="col-md-3">
    <div>
        <a href="#" class="list-group-item active">
            Menu do Usuário
        </a>
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#">Meus dados</a>

            </li>
            <li class="list-group-item">
                <a href="#">Configurações</a>

            </li>
            <li class="list-group-item">
                <a href="#">Apagar conta</a>

            </li>
            <li class="list-group-item">
                <a href="#">Segurança</a>

            </li>
            <li class="list-group-item">
                <a href="#">Saldo</a>

            </li>
        </ul>
    </div>
    <!-- /.div -->
    <div>
        <a href="#" class="list-group-item active list-group-item-success">
            Compras
        </a>
        <ul class="list-group">

            <li class="list-group-item">
                <a href="#">Finalizadas</a>

            </li>
            <li class="list-group-item">
                <a href="#">Abertas</a>

            </li>
            <li class="list-group-item">
                <a href="#">Perguntas</a>

            </li>
            <li class="list-group-item">
                <a href="#">Pagamentos</a>

            </li>

        </ul>
    </div>
    <!-- /.div -->
    <div>
        <a href="#" class="list-group-item active">
            Vendas
        </a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#">Anúncios</a>

            </li>
            <li class="list-group-item">
                <a href="#">Pagamentos</a>

            </li>
            <li class="list-group-item">
                <a href="#">Envios</a>

            </li>
            <li class="list-group-item">
                <a href="#">Perguntas</a>

            </li>
        </ul>
    </div>

</div>

<div class="col-md-9">

    <div class="row">

        <div class="col-md-10">
            <h3><strong>Cancelar Compra</strong></h3>

            <hr>
            <form form action="#aquicolocaapáginaparaqualseráredirecionadoquandoconfirmadooformularionobotão">
                <div class="row ">
                    <div class="col-md-12 col-sm-12 footer-box">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-20 text-left col-sm-12 col-xs-12 ">
                                    <div class="thumbnail product-box">
                                        <img src="~/assets/img/produto1.jpg" alt="deadpoll toy" width="70px" height="90px" align="left" />
                                        <div class="caption">
                                            <h5><a href="produto.html" align="left">Deadpoll Neca Toys </a></h5>
                                            <p>Preço : <strong>R$ 745,900</strong>  </p>
                                            <p align="left">
                                                Anunciante:<a href="#">BDOLLS</a><br>
                                                <a href="produto.html" align="right">Ver Descrição</a><br>

                                        </div>
                                    </div>
                                    <p>Deseja mesmo cancelar a compra? </p>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">

                                                <input class="w3-radio" type="radio" name="sexo" value="masculino" checked>
                                                <label>Sim</label>

                                                <input class="w3-radio" type="radio" name="sexo" value="feminino">
                                                <label>Não</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 footer-box">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-20 text-left col-sm-12 col-xs-12">
                                    <div class="thumbnail product-box">
                                        <div class="caption">
                                            <p align="left">
                                                Vendedor(a): Marcia Souza - <a href="#">BDOLLS</a><br>
                                                CPF 074589624533144<br>
                                                Av Santa Maria 987<br>
                                                Bairro rotary club <br>
                                                Tel 9987452154755<br>
                                                cep 49520100 <br>
                                                Cidade Aracaju <br>
                                                Estado Sergipe<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 footer-box">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-20 text-left col-sm-12 col-xs-12">
                                    <div class="thumbnail product-box">
                                        <div class="caption">
                                            <p>
                                                Envio : <strong>Correios</strong><br>
                                                Tipo: PAC<br>
                                                <a href="produto.html">Acompanhar rastreio</a><br>
                                                Endereço de destinatário na postagem: <br>
                                                Maria Josefina da Fonseca Lima<br>
                                                Rua Santo Antõnio 987<br>
                                                Bairro rotart club <br>
                                                cep 49520146 <br>
                                                Cidade Estância <br>
                                                Estado Sergipe<br>
                                            </p>
                                            <p>
                                                Data de postagem: 22/10/17<br>
                                                Custo de envio: R$ 20,00 <br>
                                                Código de Rastreamento: <a href="#">RB0126789654</a><br>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 footer-box">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-20 text-left col-sm-12 col-xs-12">
                                    <div class="thumbnail product-box">
                                        <div class="caption">
                                            <p>
                                                Pagamento via: <strong>Cartão de crédito número ***************</strong><br>
                                                Valor= R$ 745,90<br>
                                                + <br>
                                                Frete= R$ 20,00<br>
                                                = <br>
                                                Total = R$ 765,90
                                            </p>
                                            <p>
                                                Data de aprovação: 20/10/17<br>
                                                <a href="#">Cancelar compra</a><br>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

        </div>
