
@{
    Layout = "_Layout";
}

<!-- /.row -->
<div class="row">
    <div class="col-md-3">
        <div>
            <a href="#" class="list-group-item active">
                Menu do Usuário
            </a>
            <ul class="list-group">

                <li class="list-group-item">
                    <a href="#">Meus dados</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Configurações</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Apagar conta</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Segurança</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Saldo</a>

                </li>
            </ul>
        </div>
        <!-- /.div -->
        <div>
            <a href="#" class="list-group-item active list-group-item-success">
                Compras
            </a>
            <ul class="list-group">

                <li class="list-group-item">
                    <a href="#">Finalizadas</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Abertas</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Perguntas</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Pagamentos</a>

                </li>

            </ul>
        </div>
        <!-- /.div -->
        <div>
            <a href="#" class="list-group-item active">
                Vendas
            </a>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#">Anúncios</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Pagamentos</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Envios</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Perguntas</a>

                </li>
            </ul>
        </div>

    </div>

    <div class="col-md-9">

        <div class="row">

            <div class="col-md-10">
                <h3><strong>Compra cancelada</strong></h3>

                <hr>
                <form form action="#aquicolocaapáginaparaqualseráredirecionadoquandoconfirmadooformularionobotão">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 footer-box">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-20 text-left col-sm-12 col-xs-12 ">
                                        <div class="thumbnail product-box">
                                            <img src="~/assets/img/produto1.jpg" alt="deadpoll toy" width="70px" height="90px" align="left" />
                                            <div class="caption">
                                                <h5>Compra <a href="produto.html" align="left">Deadpoll Neca Toys </a>cancelada com sucesso!</h5>
                                                <p>
                                                    O seu dinheiro será devolvido. O extorno poderá ser visualizado na próxima fatura de seu cartão número 45**************.<br>
                                                    O produto será devolvido ao anunciante <a href="#">BDOLLS</a><br>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>