
@{
    Layout = "_Layout";
}

    <div class="row">
        <div class="col-md-9">

            <div class="main box-border">
                <div id="mi-slider" class="mi-slider">
                    <ul>

                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/livro.jpg" alt="img01"><h4>Livros</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/mangas.jpg" alt="img02"><h4>Mangás</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/hqs.jpg" alt="img03"><h4>HQs</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/box.jpg" alt="img04"><h4>Boxes</h4>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/figureaction.jpg" alt="img05"><h4>Figure Action</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/barbie.jpg" alt="img06"><h4>Barbie &amp; cia</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/blythe.jpg" alt="img07"><h4>Blythe</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/bjd.jpg" alt="img08"><h4>BJD</h4>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/filme.jpg" alt="img09"><h4>Filmes</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/anime.jpg" alt="img10"><h4>Anime</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/serie.png" alt="img11"><h4>Séries</h4>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/cd.jpg" alt="img12"><h4>CDs</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/miniatura.jpg" alt="img13"><h4>Miniaturas</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/fantasia.jpg" alt="img14"><h4>Fantasias</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/assets/ItemSlider/images/acessorio.png" alt="img15"><h4>Acessórios</h4>
                            </a>
                        </li>
                    </ul>
                    <nav>
                        <a href="#">Livros</a>
                        <a href="#">Brinquedos</a>
                        <a href="#">DVDS</a>
                        <a href="#">Mais</a>
                    </nav>
                </div>

            </div>
            <br />
        </div>
        <!-- /.col -->

        <div class="col-md-3 text-center">
            <div class=" col-md-12 col-sm-6 col-xs-6">
                <div class="offer-text">
                    30% off aqui
                </div>
                <div class="thumbnail product-box">
                    <img src="~/assets/img/Hot-Toys-Jack-Sparrow.jpg" alt="figure action" width="200" height="300" />
                    <div class="caption">
                        <h3><a href="#">Hot Toys Jack Sparrow Piratas do Caribe</a></h3>
                        <p><a href="#">À pronta entrega </a></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.col -->
    </div>